{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range .Pages }}
        <li class="posts-list-item">
          {{ if .IsSection }}
            <span class="folder-icon">{{ partial "icon.html" (dict "ctx" $ "name" "folder") }}</span>
          {{ end }}
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if not .IsSection }}
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
          {{ else }}
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .Date.Format "Jan 2, 2006" }}
          </span>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}
