@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik',sans-serif;
}

.app-header-avatar {
  width: 4rem;
  height: auto;
  border-radius: 0;
  border: none;
}

.toc {
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  margin-top: 40px;
  // font-weight: bold;
}

.toc h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 940px) {
  
  .page-container {
    display: flex;
  }



  .toc {
    width: 225px; /* Adjust the width according to your preference */
    position: sticky;
    top: 30px;
  }

  .post {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
}

/* Reset some default styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,.1);
  border-radius: .2em;
}

/* Style the table header */
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid rgba(255,255,255,.5);
  
}

td {
  border-bottom: 1px solid rgba(255,255,255,.1);
}

#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}

.post-footer {
  display: flex;
  flex-direction: column;
}

#edit {
  margin-top: 10px;
  text-align: center;
}